<html>
<head>
    <title>
        App
    </title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<body>
    <div class="container">
        <div class="row" style="margin:8% 0 0 0;" >
            <div class="col-sm-9"><h2>
                Resume Fit Prediction
                </h2></div>
    
                <div class="col-sm-3">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">1000+ candiates applied</button>
                    </div>
                </div>
    
            <div class="col-sm-6">
    
            </div>
            <div class="col-sm-3">
            
            </div>
        </div>
        <hr >
    <div class="row" style="margin:5% 0 0 0;">
        <div class="col-sm-3">
            <h1>
                Hi!, Kaushik
            </h1>
            <br>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Welcome Back!

        </div>
        <div class="col-sm-7">
            <form action="/skills" method="POST">
              <div class="form-group">
                <label for="skillTestBox">How may skills are you looking for?</label>
                <input type="number" min="1" max="3000" class="form-control form-control-lg" id="skillTestBox" aria-describedby="skills" name="skillsCount" required>
                <small id="skillHelp" class="form-text text-muted"></small>
              </div>
                 <button type="submit" class="btn btn-primary">Go</button>
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6"></div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row"></div>
</div>
</body>
</html>