<html>
<head>
    <title>
        App
    </title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<body>
    <div class="container">
        <div class="row" style="margin:5% 0 0 0;">
        <div class="col-sm-9"><h2>
                Resume Fit Prediction
            </h2></div>
        <div class="col-sm-6">

        </div>
        <div class="col-sm-3">
             Hi! , Kaushik
        </div>
    </div>
        <hr >
    <div class="row" style="margin:15% 0 0 0;">
        <div class="col-sm-3">
            <h1>

            </h1>

        </div>
        <div class="col-sm-7" style="text-align: center;">
    
                {% for i in pred%}
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary">Applied 1000+</button>
                    <button type="button" class="btn btn-primary">Qualified 600</button>
                    
                    <button type="button" class="btn btn-dark "><a style="text-decoration: None; color: white;" href='/file/{{i["fileName"]}}'>Download List</a></button>

                    
                </div>
                <div class="card">
                    <div class="card-body">
                      given skills suits <b>{{i["name"]}} </b>unit
                        
                        
                    </div>
                  </div>
                {%endfor%}
                <br />

                <p class="text-center" style="margin:2% 0 0 0;" ><a href="/skillsDescription"><button type="button" class="btn btn-success ">Use Advanced Model</button></a></p>
            </div>
            <div class="col-sm-2">
                
            </div>


    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6"></div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row"></div>
</div>
</body>
</html>